$first-color: #ff82bc;
$second-color: #ff9aff;
$third-color: #cd97ff;
$fourth-color: #b899ff;
$fiveth-color: #a9a0ff;
$sixth-color: #9dd3ff;
$seventh-color: #6ed2da;
$eighth-color: #89e2db;

%left-top {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.background-login {
  background-image: url("../img/Software-Engineering-2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
